html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #121d23;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.clickable {
  cursor: pointer;
}

.drawer_text_hover:hover {
  color: #c8ae17;
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #fff, transparent);
  transition: 0.5s;
}

.logo:hover::before {
  left: 100%;
}

.logo {
  overflow: hidden;
  position: relative;
  transition: 0.5s;
}

.text_sparkle:hover {
  text-shadow: 0 0 10px #baab36, 0 0 20px #baab36, 0 0 40px #baab36;
}
